{
  "openapi": "3.0.3",
  "info": {
    "title": "GraphOne API",
    "version": "1.0.0",
    "description": "Backend for the AI economy intelligence layer"
  },
  "servers": [
    { "url": "https://api.graphone.dev/v1" }
  ],
  "paths": {
    "/companies": {
      "get": {
        "summary": "List companies",
        "parameters": [
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "stage", "in": "query", "schema": { "type": "string" } },
          { "name": "country", "in": "query", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["trending","funded","new"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of companies" },
          "429": { "description": "Rate limited" }
        }
      },
      "post": {
        "summary": "Create company",
        "security": [{ "apiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompanyInput" }
            }
          }
        },
        "responses": {
          "201": { "description": "Company created" },
          "400": { "description": "Validation error (e.g., invalid URL)" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/companies/{slug}": {
      "get": {
        "summary": "Get company by slug",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Company profile" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/companies/trending": {
      "get": {
        "summary": "Top 10 trending companies (cached)",
        "responses": {
          "200": { "description": "List of companies with trending score" }
        }
      }
    },
    "/companies/{slug}/funding": {
      "get": {
        "summary": "Funding rounds for a company",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Funding timeline" } }
      }
    },
    "/companies/{slug}/products": {
      "get": {
        "summary": "Products of a company",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "List of products" } }
      }
    },
    "/companies/{slug}/graph": {
      "get": {
        "summary": "1‑hop ecosystem graph (investors, co-investors, competitors, products, tags)",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Graph nodes and edges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodes": { "type": "array", "items": { "$ref": "#/components/schemas/GraphNode" } },
                    "edges": { "type": "array", "items": { "$ref": "#/components/schemas/GraphEdge" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{slug}/claim": {
      "post": {
        "summary": "Claim a company profile",
        "security": [{ "apiKey": [] }],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Claim successful" },
          "401": { "description": "Unauthorized" },
          "409": { "description": "Company already claimed" }
        }
      }
    },
    "/investors": {
      "get": {
        "summary": "List investors",
        "parameters": [
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "stage_focus", "in": "query", "schema": { "type": "string" } },
          { "name": "sector", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of investors" } }
      }
    },
    "/investors/{slug}": {
      "get": {
        "summary": "Investor profile",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Full investor profile" } }
      }
    },
    "/investors/most-active": {
      "get": {
        "summary": "Most active investors (last 90 days)",
        "responses": { "200": { "description": "Ranked list" } }
      }
    },
    "/investors/{slug}/investments": {
      "get": {
        "summary": "Paginated investment history",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Paginated funding rounds" } }
      }
    },
    "/investors/{slug}/co-investors": {
      "get": {
        "summary": "Co‑investor syndication network",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Co‑investors with frequency" } }
      }
    },
    "/feed": {
      "get": {
        "summary": "Ranked activity feed",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Feed items (news, funding, new companies)" } }
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "parameters": [
          { "name": "category", "in": "query", "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["popular","newest"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "List of products" } }
      }
    },
    "/products/{slug}": {
      "get": {
        "summary": "Product detail",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Product" } }
      }
    },
    "/news": {
      "get": {
        "summary": "Paginated news feed",
        "parameters": [
          { "name": "tag", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "cursor", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "News articles" } }
      }
    },
    "/news/trending": {
      "get": {
        "summary": "Most read news (last 24h)",
        "responses": { "200": { "description": "Trending news" } }
      }
    },
    "/search": {
      "get": {
        "summary": "Cross‑entity search (companies, investors, founders, products, tags)",
        "parameters": [{ "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Unified search results" } }
      }
    },
    "/stats": {
      "get": {
        "summary": "Platform statistics (cached)",
        "responses": { "200": { "description": "Aggregates" } }
      }
    },
    "/founders/{slug}": {
      "get": {
        "summary": "Founder profile",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Founder with linked companies" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "CompanyInput": {
        "type": "object",
        "required": ["name", "slug", "category"],
        "properties": {
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string" },
          "stage": { "type": "string" },
          "founded_year": { "type": "integer" },
          "hq_city": { "type": "string" },
          "hq_country": { "type": "string" },
          "website": { "type": "string", "format": "uri" },
          "logo_url": { "type": "string", "format": "uri" }
        }
      },
      "GraphNode": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["company","investor","product","founder","tag"] },
          "label": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "GraphEdge": {
        "type": "object",
        "properties": {
          "source": { "type": "string" },
          "target": { "type": "string" },
          "relationship": { "type": "string" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "type": { "type": "string", "enum": ["company","product","news"] }
        }
      },
      "CompanyRelationship": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "source_company_id": { "type": "string" },
          "target_company_id": { "type": "string" },
          "relationship_type": { "type": "string", "enum": ["competitor","partner","subsidiary","parent"] }
        }
      }
    }
  },
  "tags": [
    { "name": "Companies" },
    { "name": "Investors" },
    { "name": "Products" },
    { "name": "News" },
    { "name": "Search" },
    { "name": "Stats" }
  ]
}